/*
 * Copyright (c) 2023 Martin Jäger / Libre Solar
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	relay: relay_config {
		enable {
			compatible = "relay";
			gpios = <&gpioc 6 GPIO_ACTIVE_HIGH>;
		};

		clock {
			compatible = "relay";
			gpios = <&gpioc 6 GPIO_ACTIVE_HIGH>;
		};

		data {
			compatible = "relay";
			gpios = <&gpioc 6 GPIO_ACTIVE_HIGH>;
		};

		reset {
			compatible = "relay";
			gpios = <&gpioc 6 GPIO_ACTIVE_HIGH>;
		};
	};
};
