/*
 * Copyright (c) 2023 Martin Jäger / Libre Solar
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	relays: gpio_pin_config {
		compatible = "magic";
		gpios = <&gpioc 6 GPIO_ACTIVE_HIGH>;
	};
};
