/*
 * Copyright (c) 2023 Martin Jäger / Libre Solar
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	relay: relay_config {
		compatible = "relay";

		enable-gpios = <&gpioa 5 GPIO_ACTIVE_HIGH>;
		clock-gpios = <&gpioa 6 GPIO_ACTIVE_HIGH>;
		data-gpios = <&gpioa 7 GPIO_ACTIVE_HIGH>;
		//		reset-gpios = <&gpioa 8 GPIO_ACTIVE_HIGH>;


	};
};
